@charset "UTF-8";
@import url(../components/normalize-css/normalize.css);
@import url(../components/reveal.js/css/reveal.min.css);
.fa {
  display: inline-block !important;
  font-family: FontAwesome !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

#slides h1, #slides h2, #slides h3, #slides h4, #slides h5 {
  color: #fff;
  margin-bottom: 0.5em; }
#slides h1 {
  font-family: "futura-pt";
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0px; }
#slides h2 {
  font-family: "futura-pt";
  text-transform: uppercase;
  color: #fff; }
#slides h3 {
  font-family: "proxima-nova";
  font-size: 42px;
  font-weight: 100; }
#slides p {
  color: #fff;
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.5; }
#slides .choice,
#slides .btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  font-family: "futura-pt";
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  #slides .choice + .btn, #slides .choice + .choice,
  #slides .btn + .btn,
  #slides .btn + .choice {
    margin-left: 10px; }
#slides blockquote {
  position: relative;
  padding: 20px 20px 20px; }
  #slides blockquote::before {
    content: '”';
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    font-size: 120px;
    font-family: "proxima-nova"; }
  #slides blockquote p {
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0px; }
  #slides blockquote cite {
    display: block;
    color: #fff; }

@-webkit-keyframes spincube {
  16% {
    -webkit-transform: rotateY(-90deg); }

  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg); }

  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg); }

  66% {
    -webkit-transform: rotateY(90deg) rotateX(90deg); }

  83% {
    -webkit-transform: rotateX(90deg); } }
@-moz-keyframes spincube {
  16% {
    -moz-transform: rotateY(-90deg); }

  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg); }

  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg); }

  66% {
    -moz-transform: rotateY(90deg) rotateX(90deg); }

  83% {
    -moz-transform: rotateX(90deg); } }
-ms-keyframes spincube 16%  {
  -ms-transform: rotateY(-90deg); }
-ms-keyframes spincube 33%  {
  -ms-transform: rotateY(-90deg) rotateZ(90deg); }
-ms-keyframes spincube 50%  {
  -ms-transform: rotateY(-180deg) rotateZ(90deg); }
-ms-keyframes spincube 66%  {
  -ms-transform: rotateY(90deg) rotateX(90deg); }
-ms-keyframes spincube 83%  {
  -ms-transform: rotateX(90deg); }

.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 60px 60px 0;
  -moz-animation-name: spincube;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 12s;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 60px 60px 0;
  -ms-animation-name: spincube;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-iteration-count: infinite;
  -ms-animation-duration: 12s;
  -ms-transform-style: preserve-3d;
  -ms-transform-origin: 60px 60px 0; }

.cubespinner div {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 4px solid transparent;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 20px;
  padding: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  font-family: "futura-pt"; }

.cubespinner .face1 {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -moz-transform: translateZ(60px); }

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px); }

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px); }

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); }

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); }

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -moz-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px); }
